 <%- include('../partials/header') %>
        <!-- views/users/index.ejs -->
        <div class="jumbotron">
          <h1 class="display-3">Users Page</h1>
          <p class="lead">Here's our users page!</p>
          <hr class="my-4">
          <p>Here's more info about our users page!</p>
          <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
          </p>
        </div>
 
        <% users.forEach(function(user){ %>
          <p>
             <b>id:</b><% user.id %><br />
             <b>first_name:</b><%= user.first_name %><br />
             <b>last_name:</b><%= user.last_name %><br />
             <b>email:</b><%= user.email %><br />
          </p>
        <% }); %>
      
      <%- include('../partials/footer') %>
